@import url(font-awesome.min.css);
/* * // general */

:root {
    --background-color: #fff;
    --primary-color: #000;
    --secondary-color: ;
    --white: #FFF
}

* {
    font-family: Helvetica, Arial sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/* HOME PAGE */

/* Header */

.home-container {
    max-width: 1350px;
    margin: 0 auto;
}

.home-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.home-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-title {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 33px;
    font-weight: 700;
    color: var(--background-color);
    
}

.home-nav-burger {
    font-size: 3rem;
    color: var(--background-color);
    cursor: pointer;
    border: none;
    background: none;
}

.home-nav-link {
    color: var(--background-color);
}
.home-nav-link {
    color: #fff;
}


.home-main-container {
    background-image: url("../img/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {

    font-size: 60px;
    color: white;

    text-align: center;
    
}


/* Project */
.container-title {
    font-size:30px ;
    padding: 10px 5px;
    color: #000;
}

.avalaible-projects {
    padding: 20px 10px;
    width: 100%;
}

.list-of-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px;
}

.project {
    width: 350px;
    height: 280px;
    padding: 10px;
    background-color: rgba(0, 0, 0);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.227);
}
.project-link{
    display: block;
    width: 100%;
    height: 100%;
}
.project-names {
   color: #fff;
   font-size:40px ;
}

/* DISPLAY MOBIL */

@media screen and (max-width: 767px) {
    body.overflow {
        overflow-y: hidden;
    }

    .home-nav-list {
        position: absolute;
        top: -100vh;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        transition: top .3s ease;
    }

    .home-nav-list.display {
        top: calc(6rem + 1px);
    }

    .home-nav-item {
        border-bottom: 1px #560BAD;
    }

    .home-nav-link {
        display: block;
        padding: 2rem 0;
        font-size: 2rem;
    }
}

/* DISPLAY DESKTOP */

@media screen and (min-width: 768px) {
    .list-of-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        padding-bottom: 1vw;
        row-gap: 20px;
        padding: 30px;
    }
    .home-nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .home-nav-link {
        display: inline-block;
        position: relative;
        font-size: 40px;
        font-weight: 700;
        transition: border .3s ease;
    }

    .home-nav-link::after {
        content: "";
        display: block;
        height: .25rem;
        width: 0;
        left: 0;
        bottom: -.5rem;
        background-color: var(--background-color);
        transition: width .3s ease;
    }

    .home-nav-link.active::after,
    .home-nav-link:hover::after {
        width: 100%;
    }

    .home-nav-link.active {
        color: #560BAD;
    }

    .home-nav-burger {
        display: none;
    }

    .home-main-container {
        background-image: url("../img/bg-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
    }
    .home-title{
        font-size: 80px;
    }
}




/* ONLINE COURSE PAGE */
.no-result{
    display: none;
}


.container{
    padding: 0;
    padding-top: 50px;
    height: 100vh;
}

/* Header */


.header {
    margin-bottom: 5px;
    padding: 10px 15px;
}

.title {
    font-size: 40px;
    text-align: start;
    margin-bottom: 5px;
}

/* Navigation */

.filter-menu {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    margin-bottom: 5px;
}

.btn-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.filter-list {
    display: none;
    position: absolute;
    z-index: 1;
}

.filter {
    position: relative;
    display: inline-block;
}

.filter-btn,
.sort-btn {
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 5px 20px;
    font-size: 25px;
    border-radius: 35px;
    border: none;
}


.search-btn {
    color: var(--secondary-color);
    font-size: 25px;
    border: none;
    background: none;
}

.search-bar {
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    font-size: 25px;
    padding: 5px 20px;
}



.sort-newest-btn,
.sort-oldest-btn {
    position: relative;
    display: inline-block;
}


.sort-list {
    display: none;
    position: absolute;
    z-index: 1;
}

.filter-link {
    color: var(--background-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.btn-list1 {
    display: flex;

    margin-bottom: 10px;
}



/* Main */

.avalaible-course {
    display: flex;
    background-color: var(--background-color);
    padding: 20px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

/* Main List */

.course-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-bottom: 1vw;
}

.course-title {
    font-size: 11px;
    margin: 0;
    color: var(--secondary-color);
    text-align: center;

}

.course {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.div-course {
    background-color: var(--primary-color);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.course-content {
    align-self: flex-start;
    width: 100%;
    padding: 1px;
}


/* Logo Category */
.img-list {
    width: 70px
}

.course-description {
    color: var(--secondary-color);
}


.link {
    display: flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}


/* DISPLAY MOBIL */

@media screen and (max-width: 767px) {
    .course-description {
        display: none;
    }
}

/* DISPLAY DESKTOP */

@media screen and (min-width: 768px) {
    .header {
        padding: 50px;
    }

    .filter-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .btn-list {
        margin: 0;
        gap: 10px;
    }

    .search-btn {
        display: none;
    }

    .avalaible-course {
        padding: 30px 30px;
        margin-bottom: 50px;
        padding-bottom: 1vw;

    }

    .course-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

    .course {
        align-items: center;
        flex-direction: row;
        width: 80%;
        gap: 10px;
    }

    .course-content {
        height: 50%;
        padding: 5px;
    }

    .div-course {
        width: 180px;
        height: 160px;
    }

    .course-title {
        display: flex;
        align-items: flex-start;
        font-size: 17px;
    }
}

.active {
    display: block;
}

.hide {
    display: none;
}